:root {
	--color-background-upper-gradient: #859398;
	--color-background-lower-gradient: #283048;
	--color-vh-primary: #4389A2;
	--color-vh-secondary: #171a67;
	--color-vh-tertiary: #5C258D;
	--color-white: #f2f2f2;
	--color-pink: #ff69b4;
	--color-purple: #8e44ad;
	--color-dark-blue: #3498db;
	--color-blue: #1abc9c;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.transition-all {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}